
@{
    ViewBag.Title = "expenseAdded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Expense is Added Successfully</h2>

<h2>Your details have been submitted successfully.</h2>
<br />
<br />
@Html.ActionLink("Add New Expense", "addExpense")
<br />
<br />
@Html.ActionLink("Expense List", "userExpensetList")

