@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is an user friendly expense managing application to manage your expenses on daily basis.</p>
<p> You can make any correction also later if some wrong data is entered.</p>
